md-dialog(flex='auto', aria-label='{{ title }}')
  form(name='frm')
    md-toolbar.md-accent
      .md-toolbar-tools
        h2 {{ title }}
    md-dialog-content(layout, layout-padding)
      div(layout)
        md-input-container.md-block(flex='33')
          label Title
          input(type='text', ng-model='media.title')
        md-input-container.md-block(flex='33')
          label Album
          input(type='text', ng-model='media.album')
        md-input-container.md-block(flex='33')
          label Artist
          input(type='text', ng-model='media.artist')
      div(layout-fill, flex='auto')
        md-input-container.md-block()
          label Media URL:
          input(type='text', name='audioUrl', ng-model='media.audioUrl', placeholder='mp3/ogg path', required, ng-pattern='/\.(mp3|ogg)$/', md-minlength='9')
          div(ng-messages='frm.audioUrl.$error', role='alert')
            .my-message(ng-message='required') You must supply a url.
            .my-message(ng-message='pattern')
              | That doesn't look like a valid url
            .my-message(ng-message='md-minlength')
              | Only .MP3 &amp; .OGG files supported
    md-dialog-actions()
      md-button.md-raised.md-primary(ng-click='save(media)') Save
      md-button.md-raised.md-warn(ng-click='close()') Close
