extends ./template-default.jade

block head
  script(src='/js/index.js')

block body
  nav-toolbar()
  section(layout="row", flex)
    sidenav()
    md-content(flex, layout="row")
      media-list(flex)

    media-details(media='currentMediaItem')
