extends ./template-default.jade

block head
  script(src='/js/index.js')

block body
  nav-toolbar()
  section(layout="row", flex="")
    sidenav()
    md-content(flex="", layout-padding="")
      div(layout="column", layout-fill="", layout-align="top center")
        media-list()

    media-details(media='currentMediaItem')
