extends ./template-default.jade

block head
  script(src='/js/index.js')

block body
  nav-toolbar()
  section(layout='row', flex)
    sidenav()
    div(flex='100', layout='row', layout-margin)
      media-list(flex, md-whiteframe='3', layout-fill)

    media-details(media='currentMediaItem')
