nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
  a.mdl-navigation__link(href="")
    i.mdl-color-text--blue-grey-400.material-icons view_headline
    | All Tracks
  a.mdl-navigation__link(href="")
    i.mdl-color-text--blue-grey-400.material-icons subject
    | Playlists
  .mdl-layout-spacer
  a.mdl-navigation__link(href="")
    i.mdl-color-text--blue-grey-400.material-icons(role="presentation") help_outline
    span.visuallyhidden Help
