doctype
html(lang='en', ng-app='app' ng-controller='AppController')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A Music Player Demo using ES6, Angular (v1.x), Gulp, Browserify')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Music Player Demo - w/ ES6, Angular (v1.x), Gulp, Browserify
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/style/site.css')
    script(src='/js/vendor.min.js')
    block head
  body
    include header.jade
    .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
      playlist-menu()

      include ./side-navbar.jade
      block body
        include body-placeholder.jade
