
md-list(layout-fill)
  md-subheader.md-no-sticky {{ title }}
  md-list-item.md-2-line(ng-repeat="item in results")
    md-divider
    .md-list-item-text
      h3
        md-icon(ng-style='{"font-size": "2em", margin: "0 .35em"}') music_video
        | {{ item.title }}
      p Artist: {{ item.artist }}
      md-checkbox.md-secondary(ng-if='mode === "select"')

