ul.list-horizontal
  li: #player-progress.mdl-progress.mdl-js-progress
  li: button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect: i.material-icons fast_rewind
  li: button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect: i.material-icons play_arrow
  li: button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect: i.material-icons pause
  li: button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect: i.material-icons fast_forward
