md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings')
      md-icon(md-font-icon='menu')
    h2
      span Music Player
    span(flex='')
    md-button.md-icon-button(aria-label='Favorite')
      md-icon(md-font-icon='fast_forward')
    md-button.md-icon-button(aria-label='More')
      md-icon(md-font-icon='more_vert')
