md-menu
  md-button.md-fab.md-accent.md-icon-button(aria-label="Open phone interactions menu", ng-click="openMenu($mdOpenMenu, $event)")
    md-icon(md-menu-origin="") queue_music
    md-tooltip New Playlist
  md-menu-content(width="4")
    md-menu-item
      md-button.md-fab(ng-click='create()')
        md-icon(md-menu-align-target) playlist_add
    md-menu-divider
    md-menu-item(ng-repeat='playlist in playlists')
      md-button(ng-click="select(playlist)")
        md-icon(ng-if='isCurrent(playlist)') play_circle_outline
        md-icon(ng-if='!isCurrent(playlist)') toc
        h4 {{playlist.title}}
  //.demo-avatar-dropdown
    span
      | Playing
      em {{ currentPlaylist.title }}
    .mdl-layout-spacer
    button#accbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
      i.material-icons(role="presentation") arrow_drop_down
      span.visuallyhidden Playlists
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="accbtn")
      li.mdl-menu__item() {{ playlist.title }}
      li.mdl-menu__item(ng-click='add()')
        i.material-icons add
        | Add playlist...