md-menu
  md-button.md-icon-button(aria-label="Open phone interactions menu", ng-click="openMenu($mdOpenMenu, $event)")
    md-icon(md-menu-origin="") queue_music
  md-menu-content(width="4")
    md-menu-item
      md-button(ng-click='create()')
        md-icon playlist_add
      md-button(ng-click="checkVoicemail()")
        md-icon(md-svg-icon="call:voicemail")
        | Check voicemail
    md-menu-divider
    md-menu-item
      md-button(ng-click="toggleNotifications()")
        md-icon(md-svg-icon="social:notifications-{{notificationsEnabled ? 'off' : 'on'}}")
        | {{notificationsEnabled ? "Disable" : "Enable" }} notifications
  //.demo-avatar-dropdown
    span
      | Playing
      em {{ currentPlaylist.title }}
    .mdl-layout-spacer
    button#accbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
      i.material-icons(role="presentation") arrow_drop_down
      span.visuallyhidden Playlists
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="accbtn")
      li.mdl-menu__item(ng-repeat='playlist in playlists') {{ playlist.title }}
      li.mdl-menu__item(ng-click='add()')
        i.material-icons add
        | Add playlist...