md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-theme-indigo
    h1.md-toolbar-tools Sidenav Left
  md-content(layout-padding="")
    md-button.md-primary(ng-click="close()", hide-gt-md="")
      | Close Sidenav Left
    p(hide-md="", show-gt-md="")
      | This sidenav is locked open on your device. To go back to the default behavior,
      | narrow your display.
