md-toolbar.md-accent()
  .md-toolbar-tools
    h2 {{ currentTitle() }}
    span(flex)
    md-button(ng-click='createMedia({}, playlist)')
      md-icon(style='font-size: 2.5em;') queue
      md-tooltip Add a Song
div(layout-fill, layout, layout-align='center stretch')
  section(flex='50')
    md-subheader.md-warn(ng-if='!playlist', layout-align='center center')
      h2 [No Playlist Selected]
    md-subheader.md-primary(ng-if='playlist')
      h2 {{ playlist.title }} Tracks
    md-list(layout-margin, ng-if='playlist')
      md-list-item.md-accent.md-2-line(ng-repeat="item in allPlaylistTracks", ng-click='currentMedia(item)')
        md-icon.md-primary(ng-if='currentMedia() && currentMedia().id === item.id', ng-style='{"font-size": "1.8em", margin: "0 .35em"}') play_circle_filled
        .md-list-item-text(layout='row', layout-wrap, layout-margin)
          h3.title(flex='30')
            | {{ item.title }}
          div(layout='column', flex='70')
            p(flex='33')
              md-icon person
              | Artist: {{ item.artist }}
            p(flex='33')
              md-icon queue_music
              | Album: {{ item.album }}
          div.md-secondary(layout='row')
            md-button(flex, ng-href='{{item.sourceUrl}}', ng-if='item.sourceUrl')
              a(ng-href='{{item.sourceUrl}}', ng-if='item.sourceUrl', target='_blank'): md-icon.md-accent.md-mini() info_outline
              md-tooltip Open Link to {{playlist.sourceUrl}}
            md-button(flex, ng-click='addRemoveTrack(item, playlist)')
              md-icon.md-warn(ng-style='{"font-size": "1.8em", margin: "0 .35em"}') delete
              md-tooltip Remove from {{playlist.title}}
        md-divider

  section(flex='50', ng-if='allTracks')
    md-subheader.md-accent(ng-if='playlist && allTracksRemaining() <= 0')
       h4 All Media Added to The Current Playlist
    md-subheader.md-accent(ng-if='allTracksRemaining() >= 1')
      h2 All Music
      span(flex)
    md-list(layout-margin, ng-if='allTracksRemaining() >= 1')
      md-list-item(ng-repeat="item in allTracks", ng-if='!inPlaylist(item, playlist)', md-clickable)
        md-button(ng-if='playlist', ng-click='addRemoveTrack(item, playlist)')
          //- md-icon(ng-if='inPlaylist(item, playlist)', ng-style='{"font-size": "1.8em", margin: "0 .35em"}') add_circle
          md-icon.md-primary(ng-style='{"font-size": "1.8em", margin: "0 .35em"}') add_circle
          md-tooltip Add to Playlist: {{playlist.title}}
        b {{ item.title }}
