md-toolbar
  .md-toolbar-tools
    md-icon library_music
    h1: span Music Player
    span(flex='')
    md-button.md-icon-button(aria-label='More', target='_blank', ng-href='http://www.danlevy.net/')
      md-icon() info
      md-tooltip Visit Dan Levy's Blog
