md-sidenav.md-sidenav-left2(md-component-id="left", md-is-locked-open="true")
  md-toolbar.md-accent
    .md-toolbar-tools(layout='row')
      // md-icon(md-menu-origin="") queue_music
      h2: span Playlists
      span(flex)
      md-button(ng-click='createPlaylist()')
        md-icon(style='font-size: 2.5em;') playlist_add
        md-tooltip Create Playlist


  md-content()
    playlist-menu()
    span(flex)
    media-controls()